SLACK_USER_LIST_API=https://slack.com/api/users.list

BOT_USER_OAUTH_ACCESS_TOKEN_PATH=$BOT_USER_OAUTH_ACCESS_TOKEN_PATH
VERIFICATION_TOKEN_PATH=$VERIFICATION_TOKEN_PATH
WORKSPACE_TOKEN_PATH=$WORKSPACE_TOKEN_PATH

APP_PORT=3000